@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* { margin: 0;  /* (*) utilizado para reset da decoração padrãoem HTML*/
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

:root {
    --laranja-corretora: #F55F03;
    --cinza-corretora: #2D2C2C;
    --laranja-hover: rgb(247, 163, 74);
    --cinza-background: #c4c4c4;
    --laranja-background: #fddbc6;
}