
.cabecalho{
    display: flex;
    text-decoration: none;
    padding: 15px 40px 15px 40px;
    flex-direction: row;
    background-color: #2d2c2c;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .logo{
    position: relative;
    width: 150px;
    height: 65px;
    
}

.cabecalho_conteudo{
    display: flex;
    flex-direction: row;
    gap: 40px;


}
.cabecalho_conteudo .categorias{
    width: auto;
    text-align: center;
    color:#F55F03;
    font-weight: bold;
    font-size: 1.125rem;
}
.categorias.mobille{
    display: none;
}

.categorias:hover{
    color: var(--laranja-hover);
}

.icone_menu{
    display: none;
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   background: linear-gradient(90deg, #bea99b, #ffb586 100%);
}

.sub img{
    width: 250px;
    height: 15px;
}
.produtos{
    position:relative;
    cursor:pointer;
}

.menu_produtos.menu_active{
    display: flex;
}

.menu_produtos {
    display: none;
    padding: 20px 10px 0 10px;
    flex-direction: column;
    width: 200px;
    background-color: #2d2c2c;
    position:absolute;
    z-index: 10;
    height: auto;
    border-radius: 12px;
    left: -15px;
    
}

.menu_produtos a{
    color: var(--laranja-corretora);
    padding: 10px 5px 10px 5px;
    align-self: flex-start;
}

.menu_produtos hr{
    width: 190px;
    align-self: center;
    border:solid 1px #575757;
    
}

.menu_produtos a:hover{
    color:var(--laranja-hover);
    cursor: pointer;
}
