main {
    background: linear-gradient(90deg, #bea99b, #ffb586 100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Primeira sessão*/
.conteudo_principal {

    padding: 70px 20px 20px 20px;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    place-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 45vw;
}

.texto h1, h2 {
    color: var(--laranja-corretora);
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 1rem;
    text-align: center;

}

.texto p {
    font-size: 20px;
    /* width: 600px; */
    display: inline-block;
    line-height: 2rem;
    text-align: left;
    color: var(--cinza-corretora);
}

.redes_sociais p {
    text-align: center;
    color: var(--cinza-corretora);
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
}

.redes_sociais a,
img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rede {
    transition: transform 0.3s ease;
    display: inline-block;
    padding: 5px 15px 5px 8px;
    flex-direction: row;
    background-color: #343434;
    text-decoration: none;
    color: var(--laranja-corretora);
    border-radius: 20px;

}

.rede:hover{
    transform: scale(1.05); /* aumenta 5% */
    transform: scale(1.05) translateY(-5px);
}

.rede img {
    width: 32px;
    margin: 5px;
    margin-right: 10px;
}

.contato {
    margin-left: 20%;
}

/*Inicio Carrossel imagens*/

.imagem_propaganda {          /* imagem ocupa 100% do espaço do carrossel */

  display: none;
     max-height: 500px;
     border-radius: 20px;
}

.carrosel:hover {
  transform: scale(1.05) translateY(-5px);
}

 .imagem_propaganda.active {
  display: block;
} 

.carrosel {
  border-radius: 1.125rem;
  transition: transform 0.3s ease; 
  width: auto;
  height: auto;
  position: relative;      /* garante que os filhos absolutos fiquem dentro */

}

/* 🔴 Bolinhas (indicadores) */
.indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.indicators .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.indicators .dot:hover {
  background: var(--laranja-hover); /* você já usa essa cor */
  transform: scale(1.2);
}

.indicators .dot.active {
  background: #343434; /* cor da borda que já usava */
}

/*Fim Carrossel de imagens*/
/*Fim Primeira Sessão*/

/*Inicio segunda Sessão*/

.produtos_destaques{
    background-size:cover;
    padding: 70px 20px 20px 20px;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.destaques{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.produto_destaque{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
}

.produto_destaque p{
    font-weight: 700;
    color: var(--cinza-corretora);
}

.produto_destaque hr{
    border: solid 1px var(--cinza-corretora);;
    width: 100px;
}
.produto_destaque img{
    height: 150px;
    border-radius: 90px;
    /* background-color: #fc731d; */
    background: linear-gradient(70deg, #f67b2f, #F55F03 100%);
    /* border: solid 2px #343434; */
    align-self: center;
}

.produto_destaque a{
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--cinza-corretora,);
    font-weight: bold;
    font-size: 18px;
}

.produto_destaque a:hover{
     color: #fff;
}

.produto_destaque:hover{
    transform: scale(1.05);
    transform: scale(1.05) translateY(-5px);
    background-color: var(--laranja-corretora);
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
/*Fim segunda sessão*/
/*------------------------------------------------------*/
/*Inicio Terceira sessão*/

.transicao{
    height: 8px;
    background: linear-gradient(90deg, var(--cinza-corretora), var(--laranja-corretora) 100%);
}

.contatos{
    background-color: aliceblue;
    /* padding: 70px 20px 20px 20px; */
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.contatos_conteudo{
    display: flex;
    flex-direction: column;
}

.contatos_conteudo h3{
    font-size: 50px;
    font-weight: 700;
    color: var(--laranja-corretora);
    padding: 15px 0 20px 0;
}

.contato_opcao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contato_opcao strong{
    font-size: 30px;
}

.contato_opcao p{
    font-size: 25px;
    color: var(--cinza-corretora);
    padding: 15px;
}

.contato_icone{
    height: 30px;
    width: auto;
}

.contato_imagem_propaganda{
    width: 400px;
    height: auto;
    border-radius: 20px;
}
/*Fim terceira sessao*/
/*-----------------------------------*/
/*Inicio quarta sessao*/

.dicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.dicas h4{
    font-size: 50px;
    font-weight: 700;
    color: var(--laranja-corretora);
    padding: 15px 0 20px 0;
}
.dicas p{
    font-size: 25px;
    font-weight: 400;
}
.dicas p, li{
    color: var(--cinza-corretora);
    padding: 10px 0 30px 10px;
}

.dicas li{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 30px;
    cursor:pointer;
}
.dicas li img{
    height: 30px;
}

li:hover{
    text-decoration:underline;
}